@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --background: 0 0% 100%;

    --white: 0 0% 100%;
    --disabled: 0 0% 63%;
    --radius: 0.5rem;
    --border: 0 0% 70%;
    --ring: 0 0% 86%;
    
    --primary-border: 219 72% 39%;
    --primary-500: 219 88% 55%;
    --primary-600: 219 72% 50%;
    --primary-800: 219 73% 30%;

    --red-border: 4 63% 41%;
    --red-600: 4 61% 49%;

    --grey-50: 0 0% 98%;
    --grey-100: 240 5% 96%;
    --grey-500: 240 3% 46%;
    --grey-950: 240 10% 4%;

    --black-alpha-5: 0 0% 95%;
    --black-alpha-10: 0 0% 91%;
    --black-alpha-15: 0 0% 86%;
    --black-alpha-40: 240 10% 4%;
    
    --input-error: 4 61% 49%;









    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 0 0% 64%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --input: 20 5.9% 90%;

    --sidebar-width: 220px;
    --header-height: 59px;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    @apply border-border;
  }
  html {
    height: 100%;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overflow-y: scroll;
    overflow-x: scroll;
    box-sizing: border-box;
  }
  body {
    box-sizing: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @apply bg-background text-grey-950 overflow-x-hidden;
  }
}

@layer utilities {
  /* Background input primary */
  .bg-input-primary {
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%), hsl(var(--primary-500));
    box-shadow: 0px 0px 0px 1px hsl(var(--primary-border));
  }
  .bg-input-primary:hover {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.00) 100%), hsl(var(--primary-600));
  }
  .bg-input-primary:active {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 53.13%), hsl(var(--primary-800));
  }
  .bg-input-primary:focus {
    box-shadow: 0px 0px 0px 1px #1C4EAB, 0px 0px 0px 4px rgba(18, 18, 18, 0.20);
  }



  /* Background input secondary */
  .bg-input-secondary {
    @apply bg-white;
    box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 1px 1px 0px rgba(18, 18, 18, 0.10);
  }
  .bg-input-secondary:focus {
    box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 1px 1px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 4px rgba(18, 18, 18, 0.10);
  }
  


  /* Background input tertiary */
  .bg-input-tertiary {
    @apply bg-black-alpha-5;
  }
  .bg-input-tertiary:focus {
    @apply bg-black-alpha-5;
    box-shadow: 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 0px 0px 4px rgba(11, 19, 36, 0.10);
  }



  /* Background input plain */
  .bg-input-plain {
    @apply bg-white;
  }
  .bg-input-plain:focus {
    box-shadow: 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 0px 0px 4px rgba(11, 19, 36, 0.10);
  }

  /* Background input danger */
  .bg-input-danger {
    @apply bg-white;
    box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 1px 1px 0px rgba(18, 18, 18, 0.10);
  }
  .bg-input-danger:focus {
    box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 1px rgba(18, 18, 18, 0.07), 0px 1px 1px 0px rgba(18, 18, 18, 0.10), 0px 0px 0px 4px rgba(11, 19, 36, 0.10);
  }



  .bg-input-destructive {
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%), hsl(var(--red-600));
    box-shadow: 0px 0px 0px 1px hsl(var(--red-border));
  }
  .bg-input-destructive:hover {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.00) 100%), hsl(var(--red-600));
  }
  .bg-input-destructive:active {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 53.13%), hsl(var(--red-600));
  }
  .bg-input-destructive:focus {
    box-shadow: 0px 0px 0px 1px hsl(var(--red-border)), 0px 0px 0px 4px rgba(18, 18, 18, 0.20);
  }



  .bg-input-dashed {
    @apply border border-dashed border-black-alpha-40/40;
  }
  .bg-input-dashed:focus {
    @apply bg-black-alpha-10/50;
    box-shadow: 0px 0px 0px 4px rgba(11, 19, 36, 0.10);
  }










  /* Input radial */
  .radial-input:disabled {
    box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.05), 0px 0px 0px 1px rgba(18, 18, 18, 0.04), 0px 1px 1px 0px rgba(18, 18, 18, 0.05);
  }


  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
